<div style="width: 100%; display: flex; flex-direction: column; gap: 20px;">

    <!-- Encabezado del Informe -->
    <table style="width: 100%;">
      <tr>
        <th colspan="2" class="section-header" style="text-align: center; font-size: 18px;">
          <%= base_informe.nombre_informe %>
        </th>
      </tr>
      <tr>
        <td style="width: 35%; ">Código del Informe:</td>
        <td>
          <%= base_informe.codigo_informe %>
        </td>
      </tr>
      <tr>
        <td >Fecha:</td>
        <td><%= base_informe.fecha_informe_formateada %></td>
      </tr>
      <tr>
        <td >Empresa auditada:</td>
        <td><%= base_informe.empresa_nombre %></td>
      </tr>
      <tr>
        <td >Auditores:</td>
        <td><%= base_informe.auditor_nombres %></td>
      </tr>
    </table>
  
    <!-- Leyenda de Códigos -->
    <div class="section-header">Categorías de los hallazgos</div>
    <table style="width: 100%;">
      <tr>
        <th style="width: 30%; font-size: 14px;">"C" - Conformidad</th>
        <td>El requisito auditado se cumple completamente.</td>
      </tr>
      <tr>
        <th>"NC" - No Conformidad</th>
        <td>El requisito auditado no se cumple.</td>
      </tr>
      <tr>
        <th>"OP" - Oportunidad de Mejora</th>
        <td>El requisito se cumple parcialmente o de forma débil, hay margen de mejora.</td>
      </tr>
      <tr>
        <th>"NA" - No Aplica</th>
        <td>El requisito no aplica para este contratista o componente.</td>
      </tr>
    </table>
  
 
  
  </div>
  